<div class="test-duration-wrapper ">
    <div class="flex flex-row items-center justify-center mt-3">
        <svg class="mr-2.5"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 0.75em; opacity: 0.35;">
            <path d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120l0 136c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2 280 120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/>
        </svg>
    </div>
    <form (change)="onChange()" [formGroup]="durationForm" class="flex flex-row items-center justify-center mt-2">
        <!-- <div class="mt-0.5">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 0.7em; opacity: 0.65;">
                <path d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120l0 136c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2 280 120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/>
            </svg>
        </div> -->
        <!-- <p class="ml-1 mr-3 font-thin text-base" >TIME: </p> -->
        @for (option of this.durationOptions; track $index) {
            <button class="form-check form-check-inline" [class.active]="option.value == this.duration">
                <label class="form-check-label text-lg py-1 px-3.5"  for="{{option.value}}">{{option.label}}</label>
                <input class="" type="radio" name="duration" id="{{option.value}}"
                    value="{{option.value}}" formControlName="duration"  (change)="onChange()" style="opacity: 0;" hidden>
            </button>
        }
    </form>
</div>