<div class="test-duration-wrapper">
    <form (change)="onChange()" [formGroup]="durationForm">
        @for (option of this.durationOptions; track $index) {
            <div class="form-check form-check-inline">
                <label class="form-check-label" for="{{option.value}}">{{option.label}}</label>
                <input class="" type="radio" name="duration" id="{{option.value}}"
                    value="{{option.value}}" formControlName="duration"  (change)="onChange()">
            </div>
        }
    </form>
</div>