#caret {
    height: 1em;
    font-size: 1.5em;
    display: block;
    background: var(--caret-color);
    transition: all 0.15s ease;
    position: absolute;
    border-radius: var(--caret-roundness);
    transform-origin: top left;
}

.pace  {
  animation: caretFlashSmooth 1s infinite;
}
  
@keyframes caretFlashSmooth {
    0%,
    100% {
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
}

#caret.default {
    width: 0.1em;
}

// #caret>.off {
//     width: 0em;
// }