.char {
    font-family: 'Prima-Sans-Roman', sans-serif;
}

.char-default{ 
    color: var(--text-color-default)
}
.char-correct{ 
    color: var(--text-color-correct)
}
.char-incorrect{ 
    color: var(--text-color-incorrect)
}

#words {
    height: fit-content;
    height: -moz-fit-content;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: flex-start;
    -webkit-user-select: none;
    user-select: none;
    padding-bottom: 1em;
}

#typingTest {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.pageTest {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
}

.pageTest #testModesNotice {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    transition: opacity .125s;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}



#restartTestButton {
    font-size: 1rem;
    margin: 1rem auto 0;
    display: flex;
    padding: 1em 2em
}

.pageTest #wordsWrapper {
    position: relative;
}
