<div class="page pageTest full-width content-grid">
    <span>
    </span>

    
    @if (gameEnded) {
        <div>
            <h2>Result:</h2>
            <app-result 
                [correctWords]="totalCorrect"
                [rawWords]="totalRaw"
                [time]="duration"
                [correctChars]="charCorrect"
                [totalChars]="charInputted"
            ></app-result>
        </div>
    } @else {
        <div id="typingTest" class="content-grid content full-width-padding">

            <div id="testModesNotice">
                <div class="text-xl p-2 my-2 font-semibold">
                    <app-timer #timer [timeLeft]="duration" (timerFinished)="onTimerFinished()"/>
                </div>
            </div>

            <div id="wordsWrapper" class="content-grid full-width" style="height: 117px; overflow: hidden;">
                <app-caret></app-caret>
                <div id="words" class="mx-auto flex flex-wrap h-fit content-start" >
                    @for (word of this.words; track $index) {
                        <div class="word relative text-xl my-1.5 mx-1.5" [class.active]="currentWord === word.globalIdx" >
                            @for (char of word.render; track $index) {
                                <span class="char m-0 p-0 inline-block"[class]="char?.state">{{char.value}}</span>
                            }
                        </div>
                    }

                </div>
            </div>

            <div id="restartTestButton" class="">
                Restart
            </div>
            
        </div>
    }

    
</div>



