.char {
    font-family: 'Prima-Sans-Roman', sans-serif;
}

.char-default{ 
    color: var(--text-color-default)
}
.char-correct{ 
    color: var(--text-color-correct)
}
.char-incorrect{ 
    color: var(--text-color-incorrect)
}

#words {
    height: fit-content;
    height: -moz-fit-content;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: flex-start;
    -webkit-user-select: none;
    user-select: none;
    padding-bottom: 1em;
    transition: all 0.25s ease;
}

#typingTest {
    position: relative;
    width: 100%;
    margin: 0 auto;
    outline: none;
}


#testModesNotice {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    transition: opacity .125s;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}



#restartTestButton {
    font-size: 1rem;
    margin: 1rem auto 0;
    display: flex;
    padding: 1em 2em;
    opacity: 0.5;
    transition: all 0.125s ease;
    cursor: pointer;
}
#restartTestButton:hover {
    opacity: 1;
}

#wordsWrapper {
    position: relative;
}

#results{
    font-family: "Outfit", sans-serif;
}
