/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@font-face {
    font-family: 'Prima-Sans-Roman'; 
    src: url('./app/assets/PrimaSansMonoBT-Roman.otf'); /*URL to font*/
}


:root { 
    --text-color-default: #a3a3a3;
    --text-color-correct: #000;
    --text-color-incorrect: #FF4754;
    --caret-color: #666666;
    --caret-roundness: 1rem;
}

html {

    -webkit-text-size-adjust: 100%;
    visibility: hidden;
}

body, html { 
    height: 100%;
    width: 100%;
    padding: 0;
    overflow: hidden;
    margin: 0;
    line-height: 1.15;
}


.app {
    min-height: 100vh;
    grid-template-rows: [top-start] auto [content-start] 1fr [content-end] auto [top-end];
    overflow: hidden;
    row-gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
}

.content-grid {
    --padding-inline: 2rem;
    --content-max-width: 1536px;
  
    /* --breakout-max-width: 1200px; */
  
    /* --breakout-size: calc(
        (var(--breakout-max-width) - var(--content-max-width)) / 2
    ); */
  
    justify-content: center;
    display: grid;
    grid-template-columns:
      [full-width-start] minmax(0, var(--padding-inline))
      [full-width-padding-start] minmax(0, 1fr)
      /* [breakout-start] minmax(0, var(--breakout-size)) */
      [content-start] min(
        100% - (var(--padding-inline) * 2),
        var(--content-max-width)
      )
      [content-end]
      /* minmax(0, var(--breakout-size)) [breakout-end] */
      minmax(0, 1fr) [full-width-padding-end]
      minmax(0, var(--padding-inline)) [full-width-end];
}

.content-grid > :not( .full-width, .full-width-padding) {
    grid-column: content;
}
  

.content-grid > .full-width {
    grid-column: full-width;
}

.content-grid > .full-width-padding {
    grid-column: full-width-padding;
}

.hidden {
    opacity: 0;
}


/* MEDIA QUERIES */

/* blue */
@media only screen and (max-width: calc(768px + 5rem)) {
    .content-grid, .container-div {
        --content-max-width: 640px;
    }

}

/* green */
@media only screen and (max-width: calc(1024px + 5rem)) {
    .content-grid, .container-div  {
        --content-max-width: 768px;
    }
}

/* orange */
@media only screen and (max-width: calc(1536px + 5rem)) {
    .content-grid, .container-div  {
        --content-max-width: 1280px;
    }
}

/* purple */
@media only screen and (max-width: calc(640px + 5rem)) {
    .content-grid, .container-div  {
        --content-max-width: 100%;
        --padding-inline: 1rem;
    }
}

/* yellow */
@media only screen and (max-width: calc(1280px + 5rem)) {
    .content-grid, .container-div  {
        --content-max-width: 1024px;
      }
}

